// Featured
@import "../../breakpoints.scss";
@import "../../variables.scss";

#featured {
  padding: 180px 0px 180px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 40px 0px;
  }
  .image-gallery {
    margin-bottom: 80px;
  }
  h2,
  h3 {
    color: $secondary;
  }
  h2,
  h3,
  ul {
    margin-bottom: 30px;
    @include bp-tablet-sm {
      margin-bottom: 10px;
    }
  }
  h3 {
    @include bp-tablet-sm {
      margin-top: 30px;
    }
  }
  img {
    margin-bottom: 60px;
  }
}
