// Button
@import "../variables.scss";

button {
  background-color: #064063;
  color: $white;
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  padding: 15px 40px 15px 40px !important;
  border-radius: 0 !important;
  border: none !important;
  transition: 0.2s;
  &:focus,
  &:hover {
    background-color: $secondary;
    transform: translate3D(0, -3px, 0);
  }
  &.secondary {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid $primary !important;
    color: $body;
    &:focus,
    &:hover {
      background-color: $primary;
      color: $white;
      border: 3px solid $primary !important;
    }
  }
}
