// Section Two
@import "../../variables.scss";
@import "../../breakpoints.scss";

.services {
  #section-two {
    background: $grey;
    padding: 120px 0px 120px 0px;
    margin-bottom: -120px;
    @include bp-tablet-sm {
      padding: 60px 0px 120px 0px;
    }
    .row {
      align-items: center;
      .call-out {
        @include bp-tablet-sm {
          margin-top: 20px;
        }
      }
    }
  }
}
