// Inner
@import "../breakpoints.scss";
@import "../variables.scss";

#main-content {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary;
  }
}
