// SEO Pages
@import "../components/breakpoints.scss";
@import "../components/variables.scss";

.seo-page {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  .pd-80 {
    padding-top: 80px;
    padding-bottom: 80px;
    @include bp-tablet-sm {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  p,
  ul {
    margin-bottom: 30px;
  }
  button {
    &.one {
      @include bp-tablet-sm {
        margin-bottom: 30px;
      }
    }
  }
  .testimonial {
    background: $secondary;
    padding-top: 80px;
    padding-bottom: 80px;
    color: $white;
    p {
      margin-bottom: 0px;
      color: $white;
    }
    @include bp-tablet-sm {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .grey-bg {
    background: $grey;
    padding-top: 80px;
    padding-bottom: 80px;
    @include bp-tablet-sm {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    p {
      margin-bottom: 0px;
    }
  }
  #project {
    img {
      margin-top: -40px;
      margin-bottom: 40px;
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      @include bp-tablet-sm {
        margin-top: -20px;
      }
    }
    ul {
      margin-bottom: 0px;
    }
    button {
      margin-top: 20px;
    }
  }
  .things-to-do {
    iframe {
      margin-bottom: 40px;
    }
  }
  #cta {
    background: $secondary;
  }
}
