// Variables

// Fonts

$mont: "Montserrat", sans-serif;
$libre: "Libre Baskerville", serif;

// Colours

$primary: #4dd0e1;
$secondary: #6096ba;
$tertiary: #f4e9cd;
$body: #868080;
$dark-body: #666262;
$heading: #525252;
$dark-blue: #031926;
$white: #fff;
$grey: #f2f2f2;
