// Hero Box
@import "../../variables.scss";
@import "../../breakpoints.scss";

#hero-box {
  border: 2px solid $primary;
  padding: 40px;
  @include bp-tablet-sm {
    margin-top: 0px;
  }
  h1,
  h2,
  p,
  a {
    color: $white;
  }
  h1 {
    font-size: 13px;
    font-family: $mont;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include bp-tablet-sm {
      line-height: 1.6;
      margin-bottom: 15px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 1.4;
    margin-bottom: 15px;
    @include bp-tablet-sm {
      font-size: 32px;
    }
  }
  button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a {
    &:focus,
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}
