// Nav
@import "../variables.scss";
@import "../breakpoints.scss";

.navbar {
  margin-top: 20px;
  @include bp-tablet-sm {
    margin-top: 0px;
  }
  button {
    padding: 0px !important;
  }
}

.navbar-nav {
  @include bp-tablet-sm {
    margin-top: 20px;
  }
}

.nav-link {
  color: $white !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  padding: 0px 20px 0px 20px;
  &:focus,
  &:hover {
    color: $primary !important;
  }
  @include bp-tablet-sm {
    color: $body !important;
  }
}

.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.dropdown-menu {
  border-radius: 0 !important;
  padding: 0 !important;
<<<<<<< HEAD
=======
  @include bp-tablet-sm {
    padding: 10px !important;
  }
>>>>>>> development
  .dropdown-item {
    &:focus,
    &:hover {
      background-color: $primary;
    }
  }
  .nav-link {
    color: $body !important;
<<<<<<< HEAD
=======
    @include bp-tablet-sm {
      padding: 5px !important;
    }
>>>>>>> development
    &:focus,
    &:hover {
      color: $white !important;
    }
  }
}
