// Section Three
@import "../../variables.scss";
@import "../../breakpoints.scss";

.about {
  #section-three {
    padding-top: 120px;
    @include bp-tablet-sm {
      padding-top: 60px;
    }
    .row {
      align-items: center;
      h2 {
        margin-bottom: 60px;
        @include bp-tablet-sm {
          margin-bottom: 30px;
        }
      }
      h4 {
        color: $secondary;
      }
    }
  }
}
